[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=4L-GUI
Name[it]=Strumento GUI LightScribe
GenericName=4L-GUI
Comment=LightScribe GUI Tool
Comment[el]=Εργαλείο διεπαφής LightScribe
Comment[es_AR]=Herramienta de interfaz gráfica LightScribe
Comment[es_ES]=Utilidad gráfica de LightScribe
Comment[fr]=outil pour l'interface graphique de LightScribe
Comment[id]=Program GUI LightScribe
Comment[ja]=LightScribe GUI ツール
Comment[pl]=Graficzne narzędzie do obsługi LightScribe
Comment[pt_BR]=Ferramenta GUI do LightScribe
Comment[pt]=Ferramenta LightScribe GUI
Comment[ru]=Графический инструмент LightScribe
Comment[sv]=Grafiskt LightScribe-verktyg
Exec=lightscribe-launcher
Icon=/opt/lightscribeApplications/SimpleLabeler/content/images/animations/swoosh/ls01.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;Graphics
